.navbar {
    color: #fff;
}

.register-button {
    background-color: yellow;
    color: red;
}

.hero {

}

.about {
    background-color: #713163;
    color: white;
    padding: 20px 20px;
}

.about h1 {
    font-size: 24px;
}

.cell {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;

    transition: 
}

.cell:hover {
    background-size: 110%;
}

.cell-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: black;
}

.location {

}

.location h1 {

}

/* Here's the arrow down for the drop down or collapse */
.drop-down-arrow:after{
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid #fff;
    margin-left: 6px;
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: bottom;
}